<div class="contents row">
  <h2 style="text-align: center">
      <font size="5">ログイン</font>
  </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div style="background:#f7f7f7; padding:30px; border: 0px dotted #ffb6c1; width:1000px; margin-left:auto;margin-right:auto;">

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

<!--       <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%> -->

  </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
</div>
