<!DOCTYPE html>
<html>
  <head>
    <title>Miniapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">miniapp</a>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span>
              <ul class="user__info right hide-on-med-and-down">
                <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li><a class="post" href="/tweets/new">投稿する</a></li>
              </ul>
            </span>
        </div>
      <% else %>
        <div class="grid-6 right hide-on-med-and-down">
          <ul>
            <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
          </ul>
         </div>
      <% end %>

      </ul>
    </div>
  </nav>

  <header class="header">
    <div class="header__bar row">

    </div>
  </header>
    <%= yield %>
  </body>
</html>
